/* *{
    margin: 0%;
    padding: 0%;
    background-color: rgb(47, 39, 112);
}
#heading3{
    font-family: algerian;
    font-size: 50px;
    color: white;
    word-spacing: 3px;
    text-align: center;
    margin-top: 20px;
}
.container2{
    height: 300px;
    width: 600px;
    background-color: white;
    margin-top: 10px;
    margin-left: 500px;
}
.abhi{
    background-color: white;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border-width: 3px;
    margin-left: 10px;
}
#second{
    color: white;
} */
